<div class="container h-100 align-items-center">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto my-2">
            <div class="logo">
                <img src="angular/assets/img/logo.png" />
            </div>
            <div class="card bg-dark-white mt-1 mb-5">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div
                            *ngIf="showSuccess"
                            class="alert alert-success mt-2"
                            style="font-size: 12px"
                        >
                            <span
                                >Wachtwoord succesvol gereset! <br /><a
                                    href="https://portal.re-base.nl/"
                                    >Klik hier om het portaal te openen.</a
                                >
                            </span>
                        </div>
                        <div
                            *ngIf="showError"
                            class="alert alert-warning mt-2"
                            style="font-size: 12px"
                        >
                            <span>Er ging iets mis bij het aanvragen!</span>
                        </div>
                        <ng-container *ngIf="!showSuccess">
                            <div class="form-group">
                                <h6>Wachtwoord instellen</h6>
                                <p class="text-muted" style="font-size: 14px">
                                    Vul de gegevens hieronder in om een
                                    wachtwoord in te stellen voor uw account.
                                </p>
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control input-lg"
                                    type="password"
                                    placeholder="Wachtwoord"
                                    formControlName="password"
                                />

                                <div
                                    class="alert alert-danger mt-2"
                                    style="font-size: 12px"
                                    *ngIf="
                                        form &&
                                        form.get('password')?.errors &&
                                        form.get('password').touched
                                    "
                                >
                                    Het wachtwoord dient tenminste te voldoen
                                    aan:
                                    <ul>
                                        <li
                                            *ngIf="
                                                form.get('password').errors
                                                    .hasNumber
                                            "
                                        >
                                            Een of meer cijfers is verplicht.
                                        </li>
                                        <li
                                            *ngIf="
                                                form.get('password').errors
                                                    .hasCapitalCase
                                            "
                                        >
                                            Een of meer hoofdletters is
                                            verplicht.
                                        </li>
                                        <li
                                            *ngIf="
                                                form.get('password').errors
                                                    .hasSpecialCharacters
                                            "
                                        >
                                            Een of meerdere speciale tekens
                                            (!@#$%^&*()?).
                                        </li>
                                        <li
                                            *ngIf="
                                                form.get('password').errors
                                                    .minlength ||
                                                form.get('password').errors
                                                    .required
                                            "
                                        >
                                            Een lengte van 9 tekens lang.
                                        </li>
                                        <li
                                            *ngIf="
                                                form.get('password').errors
                                                    .hasWrongSpecialCharacters
                                            "
                                        >
                                            Mag geen + bevatten
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control input-lg"
                                    type="password"
                                    placeholder="Wachtwoord herhalen"
                                    formControlName="confirm"
                                />
                                <div
                                    class="alert alert-danger mt-2"
                                    style="font-size: 12px"
                                    *ngIf="
                                        form &&
                                        form.get('confirm')?.errors &&
                                        form.get('confirm').touched
                                    "
                                >
                                    <span
                                        >Het wachtwoord komt niet overeen</span
                                    >
                                </div>
                            </div>
                            <div class="buttons">
                                <button
                                    class="btn btn-primary"
                                    (click)="reset()"
                                    type="button"
                                >
                                    Versturen
                                </button>
                            </div>
                        </ng-container>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
